/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, div { 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
  margin: 0; padding:0;}


#header, #page, #footer {
  width: 960px;
  margin: 0 auto;
  padding: 9px;}

#header {
  color: #CCC;
  background-color: #444}

#header a {
  text-decoration: none;
  color: #EEE;}

fieldset {
  color: #444;
  background-color: #CCC}

legend {
  padding: 3px 9px;
  color: #CCC;
  background-color: #444;
  border: thin solid #222;
}

.smaller {
  font-size: .7em;}

.notice {
  text-align: center;
  background-color: #BCED91;
  border: thin solid #629632;
  color:; #629632;
  padding: 18px;}

ul.jaillinks {
  width: 400px;
  list-style: none;}

ul.jaillinks li a {
  color: #777;
  display: block;
  text-decoration: none;
  padding: 6px;
  border-bottom: thin dashed #DDD;}

ul.jaillinks li a:hover {
  background-color: #DDD}





